#header{
  padding: 10px;
  background-color: $beige;
  overflow: hidden;
  h1{
    margin: 0 0 10px 0;
  }
  .slogan{
    font-style: italic;
    font-size: 0.8em;
    color: $brown;
  }
}

#logo{
  float: left;
  margin: 0 20px;
  display: block;
}

#menu{
  padding: 16px 0;
  background-color: $darkbeige;
  text-align: center;
  overflow: hidden;
  a{
    color: white;
    font-size: 1.5em;
    padding: 0 20px;
    text-align: center;
    &:hover{
      color: $brown;
    }
  }
}

#footer{
  background-color: $darkbeige;
  color: $brown;
  padding: 16px 10px;
  text-align: center;
  a{
    &:hover{
      color: white;
    }
  }
}

@media all and (max-width: 640px){
  #logo{
    float: none;
    margin: 0 auto;
  }
  #header{
    text-align: center;
  }
  #menu a{
    float: left;
    width: 25%;
    padding: 0;
  }
}
@media all and (max-width: 480px){
  #menu a{
    float: left;
    width: 50%;
    padding: 0;
  }
}